body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
    background-image: url(../img/praça.jpg);
    background-size: 100% 100%;
  }

  #forca {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .boneco {
    position: absolute;
    left:417px;
    top:460px;
  }

  .cabeca {
    width: 70px;
    height: 70px;
    background-color: transparent;
    border-radius: 50%;
    position: absolute;
    top: -150px;
    left: 50%;
    transform: translateX(-50%);
  }

  .corpo {
    width: 50px;
    height: 80px;
    background-color: transparent;
    position: absolute;
    top: -80px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
  }

  .braco-direito,
  .braco-esquerdo {
    width: 20px;
    height:75px;
    background-color: transparent;
    position: absolute;
    top: -85px;
    border-radius: 10px;
  }

  .braco-direito {
    left: 29px;
    transform: translateX(10%) rotate(135deg);
  }

  .braco-esquerdo {
    left: -55px;
    transform: translateX(10%) rotate(45deg);
  }

  .perna-direita,
  .perna-esquerda {
    width: 20px;
    height: 65px;
    background-color: transparent;
    position: absolute;
    top: -7px;
    border-radius: 0 0 10px 10px;
  }

  .perna-direita {
    left: 3px;
    transform: translateX(10%);
  }

  .perna-esquerda {
    left: -21px;
    transform: translateX(-20%);
  }

  #palavraSecreta{
   font-size: 60px;
   position:absolute;
   top: 35%; 
   letter-spacing: 20px;
   color: #f4f4f4;
   padding: 10px;
   background-color: hsla(0, 0%, 0%, 0.771);
   border-radius: 50px;
  }

  .botoes{
    display: inline-flex;
    position: relative;
    top:150px;
  }
  .letras{
    padding: 20px;
    border: solid black;
    margin-right: 5px;
    background-color: white;
  }
  .letras:hover{
    background-color:darkgray;
    cursor: pointer;
  }
  
  .img-forca{
    z-index: 1;
  }
  
  .windowLetrasUsadas{
    background-color: hsla(0, 0%, 0%, 0.807);
    width: 300px;
    height: 200px;
    position: absolute;
    right: 10px;
    top: 20px;
    border-radius: 10px;
  }
  .letrasUsadas{
    color: aliceblue;
    font-size: xx-large;

  }
